@import "./Mixins.scss";

.contact {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: 200px 1fr;
    grid-template-columns: repeat(2, 1fr);

    background-image: repeating-linear-gradient(0deg, hsla(127, 4%, 81%, 0.05) 0px, hsla(127, 4%, 81%, 0.05) 1px, transparent 1px, transparent 11px, hsla(127, 4%, 81%, 0.05) 11px, hsla(127, 4%, 81%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(135deg, hsla(127, 4%, 81%, 0.05) 0px, hsla(127, 4%, 81%, 0.05) 1px, transparent 1px, transparent 11px, hsla(127, 4%, 81%, 0.05) 11px, hsla(127, 4%, 81%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(0deg, hsla(127, 4%, 81%, 0.05) 0px, hsla(127, 4%, 81%, 0.05) 1px, transparent 1px, transparent 11px, hsla(127, 4%, 81%, 0.05) 11px, hsla(127, 4%, 81%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(135deg, hsla(127, 4%, 81%, 0.05) 0px, hsla(127, 4%, 81%, 0.05) 1px, transparent 1px, transparent 11px, hsla(127, 4%, 81%, 0.05) 11px, hsla(127, 4%, 81%, 0.05) 12px, transparent 12px, transparent 32px), linear-gradient(90deg, rgb(223, 195, 5), rgb(221, 78, 0));

    @include xl () {
        height: 100%;
        grid-template-rows: 200px .5fr 1fr;
    }

    @include md () {
        grid-template-rows: 400px .5fr 1fr;
    }

    &-title {
        grid-row: 1 / 1;
        grid-column: 1 / span 2;

        place-self: center;

        padding: 3rem 7rem;

        color: #fff;

        font-family: Fira Code;
        font-size: var(--fs-heading-big);

        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(151, 152, 167, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

        @include md () {
            font-size: var(--fs-heading);
        }
    }

    &-wrap {
        display: grid;
        gap: 5rem;

        text-align: center;

        grid-column: 1 / 1;
        grid-row: 2 / 2;

        place-self: center;

        padding: 5rem 7rem;

        height: 70%;
        width: 80%;

        color: #fff;

        font-family: Montserrat;
        font-weight: 500;
        font-size: var(--fs-text-big);

        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(151, 152, 167, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

        @include xl () {
            height: 100%;

            grid-column: 1 / span 2;
            grid-row: 2 / 2;
        }

        @include md () {
            width: 90%;
            padding: 5rem 1rem;

            font-size: var(--fs-text);
        }

        
        &_text {
            padding: 0 10rem;

            @include sm () {
                padding: 0 5rem;
            }
        }

        &_text1 {
            color: var(--primary-blue);
        }

        &_text2 {
            color: var(--primary-blue);
        }
    }

    &-map {
        height: 70%;
        width: 80%;

        grid-row: 2 / 2;
        grid-column: 2 / 2;

        place-self: center;

        padding: 5rem 7rem;


        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(151, 152, 167, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

        @include xl () {
            height: 50rem;

            margin: 5rem 0rem;

            grid-column: 1 / span 2;
            grid-row: 3 / 3;
        }

        @include md () {
            width: 90%;
            padding: 2rem 2rem;

        }
    }
}