@import "./Mixins.scss";

.home {

  .landing {
    height: 100vh;

    background: #000;
    background-image: linear-gradient(41deg,
        rgba(107, 107, 107, 0.04) 0%,
        rgba(107, 107, 107, 0.04) 8%,
        rgba(31, 31, 31, 0.04) 8%,
        rgba(31, 31, 31, 0.04) 100%),
      linear-gradient(9deg,
        rgba(228, 228, 228, 0.04) 0%,
        rgba(228, 228, 228, 0.04) 62%,
        rgba(54, 54, 54, 0.04) 62%,
        rgba(54, 54, 54, 0.04) 100%),
      linear-gradient(124deg,
        rgba(18, 18, 18, 0.04) 0%,
        rgba(18, 18, 18, 0.04) 37%,
        rgba(233, 233, 233, 0.04) 37%,
        rgba(233, 233, 233, 0.04) 100%),
      linear-gradient(253deg,
        rgba(201, 201, 201, 0.04) 0%,
        rgba(201, 201, 201, 0.04) 55%,
        rgba(47, 47, 47, 0.04) 55%,
        rgba(47, 47, 47, 0.04) 100%),
      linear-gradient(270deg,
        rgba(172, 172, 172, 0.04) 0%,
        rgba(172, 172, 172, 0.04) 33%,
        rgba(26, 26, 26, 0.04) 33%,
        rgba(26, 26, 26, 0.04) 100%),
      linear-gradient(64deg,
        rgba(11, 11, 11, 0.04) 0%,
        rgba(11, 11, 11, 0.04) 38%,
        rgba(87, 87, 87, 0.04) 38%,
        rgba(87, 87, 87, 0.04) 100%),
      linear-gradient(347deg,
        rgba(199, 199, 199, 0.04) 0%,
        rgba(199, 199, 199, 0.04) 69%,
        rgba(4, 4, 4, 0.04) 69%,
        rgba(4, 4, 4, 0.04) 100%),
      linear-gradient(313deg,
        rgba(36, 36, 36, 0.04) 0%,
        rgba(36, 36, 36, 0.04) 20%,
        rgba(91, 91, 91, 0.04) 20%,
        rgba(91, 91, 91, 0.04) 100%),
      linear-gradient(90deg, rgb(10, 17, 72), rgb(35, 148, 228));
    background-attachment: fixed;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    &-title {
      grid-column: 1 / span 2;
      grid-row: 1 / 1;

      place-self: center;
      font-size: var(--fs-heading-big);
      font-family: Fira Code;
      font-weight: 500;
      letter-spacing: .1rem;


      z-index: 3;
      color: #fff;
    }

    &-undertitle {
      grid-column: 1 / span 2;
      grid-row: 1 / 1;

      place-self: center;
      font-size: var(--fs-heading);
      font-family: Fira Code;
      font-weight: 500;
      letter-spacing: .1rem;

      margin-top: 20rem;

      z-index: 3;
      color: #fff;
    }

    &-buttons {
      display: grid;
      grid-template-columns: repeat(3, 200px);
      gap: 2rem;
      grid-template-rows: 100px;

      grid-column: 1 / span 2;
      grid-row: 2 / 2;

      justify-self: center;
      align-self: start;

      &_button1 {
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

        color: var(--alabaster);

        text-decoration: none;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        padding: 2rem 3rem;

        transition: all 0.3s ease;

        font-size: var(--fs-text-big);
        font-weight: 300;
        letter-spacing: .15rem;

        @include sm() {
          grid-row: 1 / 1;
        }
      }

      &_button1:hover {
        background-color: transparent;
      }

      &_button2 {
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

        color: var(--alabaster);

        text-decoration: none;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        padding: 2rem 3rem;

        transition: all 0.3s ease;

        font-size: var(--fs-text-big);
        font-weight: 300;
        letter-spacing: .15rem;

        @include xl() {
          padding: 1rem 1rem;
        }

        @include sm() {
          grid-row: 2 / 2;
        }
      }

      &_button2:hover {
        background-color: transparent;
      }

      &_button3 {
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

        color: var(--alabaster);

        text-decoration: none;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        padding: 2rem 3rem;

        transition: all 0.3s ease;

        font-size: var(--fs-text-big);
        font-weight: 300;
        letter-spacing: .15rem;

        @include xl() {
          grid-column: 1 / span 2;
          grid-row: 2 / 2;
        }

        @include sm() {
          grid-column: 1 / 1;
          grid-row: 3 / 3;
        }
      }

      &_button3:hover {
        background-color: transparent;
      }
    }

    &-arrow {
      grid-column: 1 / span 2;
      grid-row: 2 / 2;
      place-self: center;

      z-index: 9999;

      height: 5vw;
      width: 5vw;
      border-style: solid;
      border-color: #fff;
      border-width: 0px 3px 3px 0px;

      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);

      transition: all 0.2s ease;

      cursor: pointer;
    }

    &-arrow:hover,
    &-arrow:active {
      margin-bottom: 1.5rem;
    }

  }

  .about {
    height: 100vh;
  }

  .about {
    min-height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    background: linear-gradient(to right bottom, #4269AC, #432786);

    @include md() {
      grid-template-columns: 1fr;
      grid-template-rows: 400px 1fr;
    }

    &-title {
      position: relative;

      color: #fff;

      grid-column: 1 / 1;
      grid-row: 1 / 1;

      align-self: start;
      justify-self: start;

      margin-top: 8rem;
      padding: 2rem 5rem;

      font-size: var(--fs-heading);
      font-weight: 600;
      letter-spacing: .3rem;
      font-family: Montserrat, sans-serif;
    }

    &-title::after {
      content: "";
      background: var(--primary-yellow);
      position: absolute;
  
      bottom: -.5rem;
  
      left: 50%;
      right: 50%;
  
      transform: translate(-50%, -50%);
  
      height: 4px;
      width: 300px;
  
      z-index: 1;
  
      @include sm() {
        width: 200px;
      }
    }

    &-textwrap {
      display: grid;
      grid-template-rows: 1fr;
      gap: 1.5rem;
      grid-column: 1 / 1;
      grid-row: 1 / span 2;
      place-self: center;

      @include md() {
        text-align: center;
        grid-row: 1 / 1;
        place-self: center;
      }

      &_1 {
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

        color: #fff;
        padding: 4rem 5rem;
        margin: 0 7rem 0 5rem;
        font-size: var(--fs-text-big);
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: .1rem;

        @include sm() {
          font-size: 2.5rem;
        }
      }
    }

    &-images {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;

      grid-column: 2 / 2;
      grid-row: 1 / span 2;

      align-self: center;
      justify-self: end;
      margin-right: 5rem;

      @include md() {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
        place-self: center;
      }

      &_img2 {
        z-index: 1;
        grid-column: 1 / span 2;
        grid-row: 1 / 1;
        place-self: center;
        height: 40rem;

        @include md() {
          height: 50rem;
          grid-column: 1 / span 2;
          grid-row: 1 / 1;
          place-self: center;
        }

        @include sm() {
          height: 40rem;
        }
      }

      &_img1 {
        z-index: 3;
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        align-self: end;
        justify-self: start;
        height: 30rem;

        margin-top: 40rem;

        @include xl() {
          margin-left: 5rem;
          margin-bottom: 5rem;
        }

        @include lg() {
          margin-left: 2.5rem;
          margin-bottom: 2.5rem;
        }

        @include md() {
          height: 35rem;
          place-self: center;
        }

        @include sm() {
          height: 25rem;
        }
      }
    }
  }
}

.vue-typer .custom.char {
  color: #fff;
}

.custom.caret {
  background-color: #fff;
}