  @import "./Mixins.scss";

  .navbar-container {
    height: 10rem;
    width: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 5rem;
    right: 5rem;

    border-radius: 50%;
    position: fixed;
    z-index: 99;
    background-color: #fff;
    opacity: 0.95;
    display: flex;

    @include sm() {
      right: 2.5rem;
      top: 2.5rem;
    }


    &_contact {
      cursor: pointer;
      position: absolute;
      right: 4rem;
      top: 50%;
      transform: translateY(-50%);
      font-size: 4rem;
    }

    &_icon {
      height: 4.5rem;
      display: grid;
      place-items: center;
      cursor: pointer;

      &>span {
        width: 50px;
        height: 3px;
        background-color: #000;
        transition: all 0.3s ease-in-out;
      }

      &:hover span:nth-child(1) {
        width: 35px;
      }

      &:hover span:nth-child(2) {
        width: 40px;
      }

      &.active span:nth-child(1) {
        transform-origin: center center;
        transform: rotate(-45deg) translate(-9px, 10px);
        width: 55px;
      }

      &.active span:nth-child(2) {
        transform: translateX(10px);
        opacity: 0;
      }

      &.active span:nth-child(3) {
        transform-origin: center center;
        transform: rotate(45deg) translate(-12px, -13px);
        width: 55px;
      }

      &_line1 {
        width: 4.2rem;
        justify-self: end;
      }

      &_line2 {
        margin-top: 1.5rem;
        width: 3.5rem;
        justify-self: end;
      }

      &_line3 {
        margin-top: 1.5rem;
      }
    }
  }

  .navOpen {
    display: grid;
    width: 100vw;
    height: 110vh;
    top: 0;
  }

  .displayNone {
    display: none;
  }

  .navcontent {
    top: 5rem;
    right: 5rem;
    background-color: #fff;
    position: fixed;
    overflow-y: hidden;
    z-index: 9;
    opacity: 1;

    border-radius: 5rem;

    @include sm() {
      right: 2.5rem;
      top: 2.5rem;
    }


    &-ul {
      grid-template-columns: repeat(4, 1fr);
      row-gap: 3rem;
      height: 10rem;
      width: 100rem;

      list-style-type: none;
      text-decoration: none;

      opacity: 1;

      color: #fff;

      margin-right: 10rem;
      margin-bottom: 0;

      @include xl() {
        grid-template-columns: 200px 200px 300px 200px;
        margin-right: 2.5rem;
      }

      @include lg() {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);

        width: 30rem;
        height: 60rem;

        margin-right: 0;
      }



      &--hjem {
        display: flex;
        grid-column: 1 / 1;
        grid-row: 1 / 1;

        font-size: 1rem;

        align-items: center;
        justify-content: center;

        transition: all 0.2s ease-in;

        height: 100%;
        width: 100%;
        text-decoration: none;
        font-size: var(--fs-text);
        letter-spacing: 0.2rem;
        color: #000;

        @include lg() {}

        &-title {
          font-weight: 400;
          transition: all 0.2s ease-out;
        }
      }

      &--hjem:hover {
        // color: #fff;
        background-color: rgba(0, 0, 0, 0.212);
      }


      &--booking {
        display: flex;
        grid-column: 2 / 2;
        grid-row: 1 / 1;

        font-size: 1rem;

        align-items: center;
        justify-content: center;

        transition: all 0.2s ease-in;

        height: 100%;
        width: 100%;
        text-decoration: none;
        font-size: var(--fs-text);
        letter-spacing: 0.2rem;
        color: #000;

        @include lg() {
          grid-column: 1 / 1;
          grid-row: 2 / 2;
        }

        &-title {
          font-weight: 400;
          transition: all 0.2s ease-out;
        }
      }

      &--booking:hover {
        // color: #fff;
        background-color: rgba(0, 0, 0, 0.212);
      }

      &--meld {
        display: flex;
        grid-column: 3 / 3;
        grid-row: 1 / 1;

        font-size: 1rem;

        align-items: center;
        justify-content: center;

        transition: all 0.2s ease-in;

        height: 100%;
        width: 100%;
        text-decoration: none;
        font-size: var(--fs-text);
        letter-spacing: 0.2rem;
        color: #000;

        @include lg() {
          grid-column: 1 / 1;
          grid-row: 3 / 3;
        }

        &-title {
          font-weight: 400;
          transition: all 0.2s ease-out;
        }
      }

      &--meld:hover {
        // color: #fff;
        background-color: rgba(0, 0, 0, 0.212);
      }

      &--kontakt {
        display: flex;
        grid-column: 4 / 4;
        grid-row: 1 / 1;

        font-size: 1rem;

        align-items: center;
        justify-content: center;

        transition: all 0.2s ease-in;

        height: 100%;
        width: 100%;
        text-decoration: none;
        font-size: var(--fs-text);
        letter-spacing: 0.2rem;
        color: #000;

        @include lg() {
          grid-column: 1 / 1;
          grid-row: 4 / 4;
        }

        &-title {
          font-weight: 400;
          transition: all 0.2s ease-out;
        }
      }

      &--kontakt:hover {
        // color: #fff;
        background-color: rgba(0, 0, 0, 0.212);
      }
    }
  }

  .slide-fade-enter-active {
    transition: all .8s ease;
  }

  .slide-fade-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  .slide-fade-enter,
  .slide-fade-leave-to

  /* .slide-fade-leave-active below version 2.1.8 */
    {
    transform: translateX(10px);
    opacity: 0;
  }